technical-report/data/d0.8v1e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.1e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.1e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.2e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.1e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.1e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.2e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.2e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.1e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.1e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.1e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.2e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.2e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.1e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.1e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.1e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.1e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.1e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.1e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.2e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.2e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.1e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.2e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.1e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.2e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.1e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.1e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.1e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.2e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.2e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.1e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.2e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.2e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.2e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.1e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.1e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.2e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.2e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.1e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.2e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.2e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.2e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.2e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.1e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.1e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.2e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.2e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.1e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.1e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.2e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.2e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.2e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1.2e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.2v1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.1e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.2e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1e-1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.1e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1e-2_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.0v1.2e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.2e-1.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/configs.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.1e-1_particle_positions.tsv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1e-2.txt filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.9v1.1e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d1.1v1.2e-2_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
technical-report/data/d0.8v1.1_simulation_macrostates.csv filter=lfs diff=lfs merge=lfs -text
